* {
  padding: 0;
  margin: 0;
}

h1 {
  font-style:italic;
  font-weight:lighter;
  font-size:60px;
  padding:2rem;
}

h2 {
  font-weight:lighter;
  font-size: 18px;
  padding: 2rem;
  font-family:Arial, Helvetica, sans-serif
}

p {
  padding:2rem;
  font-family:Helvetica;
  font-weight:lighter;
}

.background-container {
  display: flex;
  position:fixed
  width:100%
}

.about-container, .work-container, .contact-container {
  display:flex;
  height: 500px;
}

.left-top{
  flex:1;
  background-color:beige;
}


.right-top{
  flex:1;
  background-color:tan;
}


.right-top nav {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

ul a {
  list-style-type:none;
  text-decoration:none;
}

a:hover {
  font-weight:bolder;
  color:white;
}

.nav-links li {
  display:inline-block;
  padding: 2rem;
}

about-container {
  margin-top:80px;
  
}
.about-header{
  flex:1;
  background-color:beige;
}

.about-blurb{
  flex:1;
  background-color:tan;
  overflow:scroll;
}

.bio-picture {
  width:100%;
}

.work-header{
  flex:1;
  background-color:beige;
}

.portfolio-grid {
  flex:1;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  background-color: tan;
  overflow: scroll;
}
.project-box {
  background-color: lightgray;
  border: 3px darkolivegreen solid;
  width:100%;
  height:400px;
  margin:5px;
}

.contact-header{
  flex:1;
  background-color:beige;
}

.form-section{
  flex:1;
  background-color:tan;
  font-family:Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  width:100%;
}

.footer {
  background:rgb(144, 96, 32);
}

.footer {
  display: flex;
  align-items: center;
  color:white;
  font-family: Helvetica;
  font-weight: lighter;
  justify-content: center;
}
